
<!-- printing weekend or not. -->


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>day</title>
</head>


    <body>
 
        <%if(day1=="weekend"){ %>
        
            <h1 style="color:purple">hureyy, <%=day1 %></h1>
        <% }else{ %>
        
        <h1 style="color: red;">Boo, today is <%= day1 %> </h1>
        <%}%> -->
        


<!-- </body>
</html>
 --> 



<!-- // printing date. -->


<!-- <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>day</title>
</head>


    <body>
 


<h1><%=day%></h1>



</body>
</html> -->
















<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>day</title>
</head>



<body>
        <h1><%=day%></h1>
        <br>
        <li>buy food</li>
 <li>cook food</li>
 <li>eat food</li>
 for(let i=0; i<%=items1.lenght%>; i++){
     <li><%=items1[i]%></li>
 }

 <form action="/", method="post">
    <input type="text", class="addtask">  
    <button type="submit">Add</button>
 </form>


</body>
</html>
